// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$alert-background-color:  #f27062;
$ok-background-color:     #86c775;

$title-color:       rgba(0, 0, 0, 0.7);
$number-color:      rgba(255,255,255,0.9);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-metric-alert {

  background-color: $alert-background-color;

  .title {
    display: block;
    padding-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 520;
    color: $title-color;
  }

  .number-holder {
    text-align: center;
    color: $number-color;
    font-size: 60px;
    font-weight: 600;
  }
  .number-holder div {
    display: inline-block;
  }

  .divider {
    padding: 0px 5px;
    color: $title-color;
  }
}

.passed {
  background: $ok-background-color;
}
