<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="number_of_apps" data-view="Alert" data-addclass-danger="hasNotPassed"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="expected_apps" data-view="MetricAlert" data-addclass-danger="hasNotPassed"></div>
    </li>
  </ul>
</div>
